.preview{
	background-color: #FACB00;
	width:300px;
	font-family:"times";
	font-size:36px;
}
 .previewsecondLevel{ 
	color:blue;
 } 
 .preview2 { 
	background-color: #49B689;
	width:300px;
	font-family:"times";
	font-size:36px;
 } 
 p{ 
	color:white;
}  
